body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0 30px;
}

.navbar .container {
    display: flex;
    align-items: center;
}

.navbar .container .navbar-links {
    margin-left: 80px;
    display: flex;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 70%
}

li {
    padding: 20px;
}

h2 {
    margin: 0;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 5px 0;
    color: #666;
}

.bold {
    font-weight: bold;
    color: #807e7e
}

.gray-link {
    font-size: 15px;
    margin-bottom: 10px;
}

.gray-link a {
    color: gray;
}

.centralized-feed {
    display: flex;
    width: 100%;
    justify-content: center
}

.centralized-categories {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.post-title {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.post-title:visited {
    color: #0b2bb0;
}

.category-title {
    font-weight: bold;
    font-size: 32px;
    width: 70%
}

.feed-title {
    font-weight: bold;
    font-size: 16px;
    color: #807e7e;
}

details {
    margin-bottom: 10px;
}

details summary {
    cursor: pointer;
}
